.btn {
    display: flex;
    align-items: center;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-family: inherit;
}

.btn:hover {
    transform: scale(1.1);
}

.icon {
    margin-right: 8px;
    width: 18px;
    height: 18px;
}