.footer_container {
    padding-bottom: 25px;
    padding-top: 25px;
    margin-top: auto;
    background-color: #161619;
}

.footer_icon_container {
    padding-left: 4rem;
    padding-right: 4rem;
    display: flex;
    justify-content: space-between;
}

.footer_icon {
    height: 30px;
    width: 30px;
}

.footer_icon:hover {
    transform: scale(1.2);
}
